<div id="cafe-post-detail">
    <div class="post-detail-wrap">

        <div class="action-bar top-bar">
            <div class="left-btns">
                <button class="btn-normal">수정</button>
                <button class="btn-normal">삭제</button>
            </div>
            <div class="right-btns">
                <button class="btn-normal">∨ 다음글</button>
                <button class="btn-normal">목록</button>
            </div>
        </div>

        <div class="post-main-box">

            <div class="post-header">
                <h2 class="post-title">{{post.title}}</h2>
                <div class="post-meta">
                    <div class="avatar-wrap size-m">
                        <img src="{{author.profile_img}}" alt="프로필" class="avatar-img"
                            onerror="this.src='/images/avatar-default.jpg'">
                    </div>
                    <div class="meta-info">
                        <span class="nickname">{{author.nickname}}</span>
                        <span class="date-view">{{formatDate post.createdAt}} 조회 {{post.viewCount}}</span>
                    </div>
                </div>
            </div>

            <div class="post-body">
                {{{post.content}}}
            </div>

            <div class="author-more">
                <a href="#">
                    <div class="avatar-wrap size-s">
                        <img src="{{author.profile_img}}" alt="프로필" class="avatar-img"
                            onerror="this.src='/images/avatar-default.jpg'">
                    </div>
                    {{author.nickname}} 님의 게시글 더보기 &gt;
                </a>
            </div>

            <div class="post-stats">
                <button class="stat-btn like-btn">♡ 좋아요 <span>{{post.likeCount}}</span></button>
                <span class="stat-item comment-count">💬 댓글 <span>{{post.commentCount}}</span></span>
            </div>

            <div class="comment-section">
                <ul class="comment-list">
                    {{#each comments}}
                    <li class="comment-item">                        
                        <div class="avatar-wrap size-m">
                            <img src="{{this.profile_img}}" alt="프로필" class="avatar-img"
                                onerror="this.src='/images/avatar-default.jpg'">
                        </div>
                        <div class="comment-content-area">
                            <div class="comment-author">{{this.nickname}}</div>
                            <div class="comment-text">{{this.content}}</div>
                            <div class="comment-date">{{this.createdAt}}</div>
                        </div>
                        <button class="comment-like-btn">♡</button>
                    </li>
                    {{/each}}
                </ul>

                <div class="comment-write-box">
                    <div class="comment-writer">{{currentUser.nickname}}</div>
                    <textarea placeholder="댓글을 남겨보세요"></textarea>
                    <div class="write-action">
                        <button class="btn-primary">등록</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="action-bar bottom-bar">
            <div class="left-btns">
                <button class="btn-primary">✏️ 글쓰기</button>
                <button class="btn-normal">답글</button>
            </div>
            <div class="right-btns">
                <button class="btn-normal">목록</button>
                <button class="btn-normal">▲TOP</button>
            </div>
        </div>

    </div>
</div>
<script src="/js/cafe-post-detail.js"></script>