<div id="home">
    <div class="tab-area">
        <button class="tab {{#if isMyCafeActive}}active{{/if}}" data-target="my-cafe-container">내 카페</button>
        <button class="tab {{#if isPopularActive}}active{{/if}}" data-target="popular-cafe-container">인기 카페</button>
    </div>

    <div class="cafe-feed">
        <div id="my-cafe-container" class="tab-content" style="display: {{#if isMyCafeActive}}block{{else}}none{{/if}};">
            {{#each cafeList as |cafe|}}
            <div class="cafe-card">
                <div class="cafe-header">
                    <div class="cafe-thumbnail">
                        {{#if cafe.cafeIconImg}}
                        <img src="{{cafe.cafeIconImg}}" alt="{{cafe.cafeName}}">
                        {{else}}                    
                        <i class="fa-solid fa-mug-hot default-icon"></i>
                        {{/if}}
                    </div>
                    <div class="cafe-title-area">
                        <a href="/cafe/{{cafe.cafeAddress}}" class="cafe-name">{{cafe.cafeName}}</a>
                    </div>
                </div>
                <ul class="post-list">
                    {{#each cafe.posts as |post|}}
                    <li>
                        <a href="/cafe/{{cafe.cafeAddress}}/post/{{post.id}}" class="post-title">{{post.title}}</a>
                        <div class="post-meta">
                            <span class="author">{{post.authorNickname}}</span>
                            <span class="dot">·</span>
                            <span class="date local-date" data-utc="{{toISOString post.createdAt}}"></span>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>

        <div id="popular-cafe-container" class="tab-content" style="display: {{#if isPopularActive}}block{{else}}none{{/if}};">
            {{#each recommendCafeList as |cafe|}}
            <div class="cafe-card">
                <div class="cafe-header">
                    <div class="cafe-thumbnail">
                        {{#if cafe.cafeIconImg}}
                        <img src="{{cafe.cafeIconImg}}" alt="{{cafe.cafeName}}">
                        {{else}}                    
                        <i class="fa-solid fa-mug-hot default-icon"></i>
                        {{/if}}
                    </div>
                    <div class="cafe-title-area">
                        <a href="/cafe/{{cafe.cafeAddress}}" class="cafe-name">{{cafe.cafeName}}</a>
                    </div>
                </div>
                <ul class="post-list">
                    {{#each cafe.posts as |post|}}
                    <li>
                        <a href="/cafe/{{cafe.cafeAddress}}/post/{{post.id}}" class="post-title">{{post.title}}</a>
                        <div class="post-meta">
                            <span class="author">{{post.authorNickname}}</span>
                            <span class="dot">·</span>
                            <span class="date local-date" data-utc="{{toISOString post.createdAt}}"></span>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<script src="/js/utils/date-format.js"></script>
<script src="/js/home.js"></script>